.test-ref {
  color: red;
  text-decoration: none;
}

.modal__keys {
  display: flex;
  flex-direction: row;
}

.type {
  display: flex;
  flex-direction: row;
}

.percents {
  display: flex;
  flex-direction: row;
}
