button {
  height: 32px;
  padding: 0 12px;

  font-size: 12px;
  cursor: pointer;

  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;

  transition: background 0.2s;
}

button:hover {
  background: #f0f0f0;
  color: black;
}

.clear-btn {
  color: #d93025;
}

.clear-all-btn {
  background-color: #d93025;
}

.header-result-btn {
  background-color: green;
  color: white;
}