button {
  height: 32px;
  padding: 0 12px;

  font-size: 12px;
  line-height: 1;
  cursor: pointer;

  border: 1px solid var(--button-border-color);
  border-radius: 4px;

  background-color: var(--button-background-color);
  color: var(--button-text-color);

  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease;
}

button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-color);
}

.clear-btn {
  color: var(--button-color);
}

.clear-all-btn {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

.header-result-btn {
  background-color: var(--button-result-background-color);
  color: var(--button-result-text-color);
}

[data-toggle-theme] {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: 1px solid var(--button-border-color);
  cursor: pointer;

  width: 40px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

[data-toggle-theme]:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-color);
}

