.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 100;

  background: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);

  display: flex;
  align-items: center;
}

.header .layout {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-logo {
  margin-right: auto;
  font-size: 22px;
  color: var(--logo-color);
  font-weight: 700;

  text-decoration: none;
  cursor: pointer;
}

.main-logo--report {
  display: none;
}

.main-logo:hover {
  opacity: 0.85;
}

.header-options {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-options p {
  margin: 0;
  font-size: 12px;
  opacity: 0.8;
}
