/* КАРКАС СТОРІНКИ */

main {
  padding-top: calc(var(--header-height) + 30px);
  padding-bottom: calc(var(--header-height));
}

.layout {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-padding);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
