/* markers.css */
.chart-marker {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
  display: none;
  z-index: 3;

  color: var(--markers-color);
  transition: opacity 0.2s ease, left 0.1s linear;
}

.chart-marker.active {
  opacity: 1;
  display: block;
}

.chart-marker svg {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 10;
}

.marker-solid,
.marker-dotted {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--markers-color);
}

.marker-dotted {
  border-style: dashed;
}

.marker-star {
  width: 70px;
  height: 70px;
}

.marker-check {
  width: 40px;
  height: 40px;
  color: var(--markers-color);
  left: calc(100% + 8px);
}
