@media (max-width: 1024px) {
  .scale-row {
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "label value"
      ".     actions";
    row-gap: 20px;
  }

  .scale-row .actions {
    justify-self: start;
    width: 100%;
    padding-right: 8px;
  }

  .scale-row .actions button {
    flex: 1;
    height: 44px;
  }

  .scale-row .actions .clear-btn {
    flex: 2;
  }

  .scale-row .value {
    gap: 12px;
  }
}

@media (max-width: 768px) {
  [data-open-modal] {
    display: none !important;
  }
}

@media (max-width: 640px) {
  .scale-row {
    grid-template-columns: 1fr;
    grid-template-areas:
      "label"
      "value"
      "actions";
    row-gap: 12px;

    .scale-row .value {
      padding-right: 8px;
    }
  }

  .scale-row .label {
    white-space: normal;
    width: auto;
  }

  .tick {
    display: none;
  }

  .tick:nth-child(1),
  .tick:nth-child(6),
  .tick:nth-child(11) {
    display: block;
  }

  .chart-track::before {
    background-image: none;
    left: 50%;
    width: var(--tick-width);
    background-color: var(--tick-color);
    transform: translateX(-50%);
  }

  .scale-row .value {
    gap: 10px;
  }

  .header-options p {
    display: none;
  }
}

@media (max-width: 512px) {
  :root {
    --header-height: 60px;
  }

  .main-logo {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .scale-row .actions {
    gap: 4px;
  }

  /* маленькие кнопки маркеров */
  .scale-row .actions button:not(.clear-btn) {
    width: 36px;
    height: 36px;
    padding: 0;

    font-size: 12px;
    line-height: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* CLEAR остаётся текстовой */
  .scale-row .actions .clear-btn {
    height: 36px;
    padding: 0 10px;
    font-size: 12px;
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  /* скрываем ВСЕ цифры */
  .tick {
    display: none;
  }

  /* показываем только 0 / 50 / 100 */
  .tick:nth-child(1),
  .tick:nth-child(6),
  .tick:nth-child(11) {
    display: block;
  }

  /* убираем вертикальные линии */
  .tick-line {
    display: none;
  }
}
