/* scales.css */
#scales-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.scale-row {
  display: grid;
  grid-template-columns: 200px 1fr max-content;
  grid-template-areas: "label value actions";
  column-gap: 12px;
  align-items: center;
  margin-bottom: 12px;
  min-width: 0;
}

.scale-row .label {
  grid-area: label;
  white-space: nowrap;
  width: 240px;
}

.percent-value {
  font-weight: 700;
  color: var(--primary-blue);
}

.scale-row .value {
  grid-area: value;
  display: flex;
  align-items: center;
  gap: 36px;
  min-width: 0;
}

.scale-row .actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 0;
}

.chart-wrapper {
  flex: 1;
  height: 24px;
}

.chart-track {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--scale-bg-color);
  border-radius: 4px;
}

.chart-fill {
  position: relative;
  z-index: 2;
  width: 0%;
  height: 100%;
  background: linear-gradient(to right, var(--secondary-blue), var(--primary-blue));
  border-radius: 4px;
  transition: width 0.3s ease;
}

/* ticks container */
.ticks {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

/* цифры */
.tick {
  position: absolute;
  bottom: -14px;
  transform: translateX(-50%);
  font-size: 9px;
  color: var(--scale-digits-color);
  white-space: nowrap;
  font-weight: 400;
}

.tick--major {
  font-weight: 600;
  color: var(--scale-digits-bold-color);
}

.tick--end {
  transform: translateX(-8px);
}

/* вертикальные линии (СТАБИЛЬНЫЕ) */
.tick-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: var(--tick-bg-color);
  transform: translateX(-0.5px);
}

.user-input {
  width: 50px;
  height: 32px;
  text-align: center;
  font-weight: 700;
  border: 1px solid var(--user-input-bg-color);
  border-radius: 4px;
}

.arrow-btn {
  display: none;
}

