/* screen.css */
html.is-exporting-screen {
  --screen-content-width: 728px; /* эталон 768 */
}

html.is-exporting-screen .layout {
  width: var(--screen-content-width) !important;
  max-width: var(--screen-content-width) !important;
  min-width: var(--screen-content-width) !important;

  margin-left: auto !important;
  margin-right: auto !important;

  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}

html.is-exporting-screen .modal__wrap {
  width: auto !important;
  max-width: none !important;

  left: 50%;
  transform: translateX(-50%);
}

html.is-exporting-screen .modal__content {
  width: var(--screen-content-width) !important;
  max-width: var(--screen-content-width) !important;
  min-width: var(--screen-content-width) !important;
}

html.is-exporting-screen body {
  overflow-x: hidden;
}

html.is-exporting-screen .modal__body {
  max-width: none !important;
}

html.is-exporting-screen .scale-row {
  grid-template-columns: 200px 1fr !important;
  grid-template-areas: "label value" !important;
  row-gap: 0 !important;
}

html.is-exporting-screen .modal__body {
  padding-left: 64px !important;
  padding-right: 64px !important;
}

html.is-exporting-screen .result-row {
  grid-template-columns: 200px 1fr !important;
  column-gap: 24px !important;
}

html.is-exporting-screen .tick,
html.is-exporting-screen .tick-line,
html.is-exporting-screen .chart-track::before {
  display: block !important;
}

html.is-exporting-screen {
  width: 768px !important;
  min-width: 768px !important;
}
